nav.nav
  ul(role="menu" aria-labelledby="menubutton")
    li(role="menuitem")
      a(href="#main") Главная
    li(role="menuitem")
      a(href="#services") HTML &amp; CSS
    li(role="menuitem")
      a(href="#price") Javascript
    li(role="menuitem")
      a(href="#reviews") Wordpress
    li(role="menuitem")
      a(href="#photo") Веб-разработка
