article.blog__article
  img(src="./wp-content/themes/smart-frontend/assets/img/article.jpg" width="555" height="575" alt="")
  .blog__article-tag JavaScript
  .blog__article-text
    .blog__article-title 
      a(href="single.html") Как клонировать объект или массив в JavaScript
    .blog__article-info
      .blog__article-info__left
        .blog__article-info__block
          span 01 января 2023
        .blog__article-info__block
          span 1000
      .blog__article-info__right
        .blog__article-info__block
          span 1000
        .blog__article-info__block
          span 1000