section.page-404 
  .page-404__inner
    .container
      include ./../../bem-blocks/breadcrumbs/breadcrumbs.pug 
      .page-404__content
        h1 Извините, но такая страница не существует...
        a(href="index.html") На главную