section.single__top
  .single__top-inner
    .container
      include ./../../bem-blocks/breadcrumbs/breadcrumbs.pug
      .single__top-text
        h1 Как клонировать объект или массив в JavaScript
        .single__top-info
          .single__top-info__date
            span 1 января 2023 г.
          .single__top-info__views
            span 10890
          .single__top-info__time
            span 5 минут
          .single__top-info__comments
            span 23